<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^$ /sbnette/www/ [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !^/sbnette/www/
	RewriteRule ^(.*)$ /sbnette/www/$1
</IfModule>