{block content}
<section id="novinky">

                 <div class="col-lg-12">
                    <h1 class="page-header text-center">
                        Přihlásit se
                    </h1>
                 </div>

{control signInForm}

</section>

{/block}


